{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% load socialaccount %}

<html>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/app" style="color:#FF8C00">UVA Off-Grounds Housing</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/app">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:filter' %}">Filter</a>
                  <!-- </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">List of Deepthoughts</a>
                  </li> -->
                    <li class="nav-link" style="padding-left: 7.5in;">Username: {{ user.username }}</li>
                </ul>
              </div>
            </div>
          </nav>

        <h1>This is the filter page!</h1>
    </body>
</html>